.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  canvas {
    width: 100%;
    height: 100%;
  }

  .bad_person {
    position: absolute;
    z-index: -1;
    background-color: #F2C8C6;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}
